* {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#login-container {
    background-color: #d7f6f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.h1 {
    text-align: center;
}

#login-form,
#register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
